/* App.css */

/* Общие стили для всего приложения */
body {
  font-size: 14px;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.portfolio {
  width: 100rem;
  margin: auto
}

.toolbar {
  display: flex;
  padding-top: 5px;
  padding-bottom: 10px;
  justify-content: start;
  align-items: center;
}

.toolbar button {
  border: 1px solid black;
  color: #000000;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
}

.toolbar button.active {
  color: #fff;
  background-color: #000000;
}

/* Стили для компонента ProjectList */
.project-list {
  display: flex; 
  height: 180rem; 
  flex-flow: column wrap; 
  align-content: flex-start; 
}

.project-list > div {
  margin-right: 1rem; 
  margin-bottom: 1rem;
  width: 31rem;
}

.project img {
  width: 100%;
  display: flex;
background-size: cover;
}